@using KiteSpots.Client.Services
@using Common.DTO
@inject NavigationManager NavigationManager
@inject SpotService spotService

<div class="navbar navbar-expand-lg navbar-dark bg-primary fs-3">
    <a class="text-decoration-none" href="/">
        <h1 class="text-white mr-3">Spotguide</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <label for="AreaSelector" class="text-white mr-2">Område:</label>
                <select name="Area" id="AreaSelector" class="form-control mr-3">
                    <option value="Alla">Alla</option>
                    @foreach (var area in areas)
                    {
                        <option value="@area">@area</option>
                    }
                </select>
            </li>
            <li class="nav-item">
                <label for="WindSelector" class="text-white mr-2">Vindriktning:</label>
                <select name="Direction" id="WindSelector" class="form-control mr-3">
                    <option value="Alla">Alla</option>
                    @foreach (var direction in windDirections)
                    {
                        <option value="@direction">@direction</option>
                    }
                </select>
            </li>
            <li class="nav-item">
                <div class="property-container">
                    <label class="text-white">Egenskaper:</label>
                    <form id="propertySelector" class="form-inline">
                        @foreach (var property in properties)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@($"propCheckbox_{property}")">
                                <label class="form-check-label" for="@($"propCheckbox_{property}")">@property</label>
                            </div>
                        }
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="btn btn-success active-user">
                <NavLink class="nav-link text-white" href="/Admin">Admin</NavLink>
            </div>
            <NavLink class="nav-link text-white" href="/Logout">Logga ut</NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink class="nav-link text-white" href="/Account/Login">Logga in</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private List<SpotDTO> spots = new List<SpotDTO>();
    private List<string> areas = new List<string>();
    private List<string> properties = new List<string>();
    private List<string> windDirections = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        spots.AddRange(await spotService.GetAllSpots());
        areas = spots.Select(s => s.Area).Distinct().ToList();
        properties = spots.SelectMany(s => s.Properties).Distinct().ToList();
        windDirections = spots.SelectMany(s => s.WindDirectionGood).Distinct().ToList();
    }
}

